
@import url('https://fonts.googleapis.com/css?family=Roboto');

navbar-landing-page .navbar .navbar-header .navbar-brand, #navbarSecciones .navbar-header .navbar-brand{
    padding: 0;
    border-radius: 0px;
    margin-bottom: 0px;
        
}

navbar-landing-page .navbar-default, #navbarSecciones{
    border-radius: 0px;
}

navbar-landing-page #navbarBolsa , #navbarSecciones{
    border-radius: 0px;         
    background-color: #05376c;
    margin-top: 0px;
    margin-bottom: 0px;
    /*height: 60px;*/
   
   border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.navbar-brand> img{
      filter: brightness(12);
    display: inline-block;
    margin-right: 10px;
    margin-left: 12px;
}

/*navbar-landing-page ul button{
    color: white; 
    padding-top: 5px;
    margin-right: 40px;
    font-family: roboto;
    background-color:#01579b;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
 }*/  

.navbar .container{
  box-shadow: none;
}


 .navbar-default .navbar-nav > li > a{ 
  color:white;
  
}

.container{
  margin-top: 0;
 -webkit-box-shadow: 2px -5px 24px -3px rgba(128,143,135,0.48);
-moz-box-shadow: 2px -5px 24px -3px rgba(128,143,135,0.48);
box-shadow: 2px -5px 24px -3px rgba(128,143,135,0.48);

}

 .panel{
  border: 0;
  box-shadow: none;
  margin-top: 80px;
  border-radius: 8px;
  
 }

 /****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color:white;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 27px;
  font-family: roboto;
  color: #01579b;
}
.loginmodal-container .btn-navbar{
    color: white; 
    margin-left: 10px;
    font-size:20px; 
    font-family: roboto;
    background-color:#01579b;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 25px;
}
.loginmodal-container .btn-navbar:hover{
   background-color:#357ae8;
   color: white;
    
    
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  size: 10px;
  margin-bottom: 10px;
  margin-top: 20px;

}

.loginmodal-container input[type=text], .loginmodal-container input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, .loginmodal-container input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: roboto;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #01579b;
  padding: 17px 0px;
  border-radius: 8px;
  font-family: roboto;
  font-size: 15px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
} 

body {
/*width: 100%;*/
/*height:auto;*/
/*background-color: #ffffff;*/
background-image: url('/assets/resources/u.jpg');
background-position: center;
background-size: cover;
background-repeat:no-repeat;
background-attachment: fixed;
}

body *{
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.section-heading{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 70px;

}

description h1{
font-size: 30px;
 font-family: 'Roboto';
position: relative;
color:  #01579b;
padding-top: 100px;
}

description .lead{
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;

}
description p{
font-size: 25px;
 font-family: 'Roboto';
 padding-bottom: 20px;

}
description hr.style1{
border: 0; 
height: 1px; 
background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

register-landing h2{
/*font-size: 35px;*/
font-family: 'Roboto', sans-serif;
text-align: left;
color:  #01579b;
    padding-top: 20px;
    padding-left: 41px;
}



.btn-bolsa-empleo{
  color: white;
  background-color:#01579b;
  /*margin-top: 10px;*/
  border-radius: 5px;
  font-family: 'Roboto';
}

.btn-bolsa-empleo:hover{
  color: white;
  background-color: #357ae8;
  transition: all 0.5s;
}

.nav-full{
  width: 50%;
  text-align: center;
}


navbar-default + .container{
 margin-top: 100px;
 
 box-shadow: none;
}
@media(min-width:768px){
navbar-default + .container{
  margin: 0 25px;
 margin-top: 60px;
 padding-left: 215px;
}
}

#myScrollspy{
  background-color: white;
   margin-top: 40px;
   padding-left: 0px;
   width: 15%;
   marker-end: 10px;
   border-radius: 8px;
   padding-right: 0px;

}
#secciones{
  background-color: white;
  margin-top: 40px;
     padding-left: 40px;
     margin-left: 35px;
     width: 80%;
     border-radius: 8px;

}

/*
register-landing button{
color: white; 
margin-left: 0px;
margin-top: 30px;
font-size:25px; 
font-family: roboto;
background-color:#01579b;
text-align: center;
border-radius: 10px;
text-decoration: none;

}

register-landing input[type=email-1], input[type=password-1], input[type=tel-1] {
height: 45px;
font-size: 16px;
font-family: roboto;
width: 350px;
background: #fff;
border: 1px solid #d9d9d9;
border-top: 1px solid #c0c0c0;
border-radius: 10px;

}

register-landing input[type=button]{
color: white; 
font-size:14px;
font-weight: 600px;
width: 250px; 
font-family: roboto;
border-radius: 10px;
float: left;
background-color:#01579b;
padding: 6px 25px 0px 20px;
margin: 10px 8px 20px 0px;


}*/