<!--6<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h1 class="section-heading">BOLSA DE EMPLEO</h1>
                <hr class="style1">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro impedit consectetur quas commodi consequatur ullam a, ipsa explicabo nostrum, ipsum odit facere quidem doloremque incidunt eaque totam assumenda pariatur voluptatem.</p>
            </div>
        </div>
    </div>
</div>
-->
<div class="panel">
    <h1 class="section-heading">Bolsa de Empleo</h1>
    <hr class="style1">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro impedit consectetur quas commodi consequatur ullam a, ipsa explicabo nostrum, ipsum odit facere quidem doloremque incidunt eaque totam assumenda pariatur voluptatem.</p>
</div>