<nav class="navbar navbar-default" id="navbarBolsa">    
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
             <a  class="navbar-brand" href="#"><img src="/assets/resources/unibague.png" class="d-inline-block align-top"  width="auto" height="50px" alt=""></a>
        </div>      
        <div class="collapse navbar-collapse" id="navbar-1">
        
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="./secciones-index.html" class="a-bolsa-empleo" data-toggle="modal" >Acerca de</a></li>
                <li><a  class="a-bolsa-empleo" href="#" data-toggle="modal" data-target="#login-modal">Ingresar</a></li>
               <!--<button type="button" class=" navbar-btn btn-lg "  data-toggle="modal" data-target="#login-modal">  Ingresar</button>-->
            </ul>
        
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">  <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Iniciar sesion como:</h1><br>
                <form (ngSubmit)="login()" novalidate>
                    <div class="btn-container">
                    <input type="radio" [(ngModel)]="user.type" value="graduate" name="tipo-usuario" id="graduado" checked hidden/>
                    <label for="graduado">Graduado</label>  
                    <input type="radio" [(ngModel)]="user.type" value="company" name="tipo-usuario" id="empresa" hidden/>
                    <label for="empresa">Empresa</label> 
                    </div>
               <!--<button type="button" class="btn btn-navbar"><i class="fa fa-graduation-cap"> Graduado</i></button>
                    <button type="button" class="btn btn-navbar"><i class="fa fa-briefcase"> Empresa</i></button> <br>-->
                    <div class="form-group" [class.has-error]="idLogin.invalid && idLogin.touched" >
                         <input type="text"  [(ngModel)]="user.identification" required name="user" placeholder="Identificacion" #idLogin="ngModel">
                         <span class="help-block" *ngIf="idLogin.invalid && idLogin.touched">Ingrese una identificación válida</span>
                    </div>
                   

                    <input type="password" [(ngModel)]="user.password" required name="pass" placeholder="Contraseña">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Ingresar">
                </form>
                                
                 <div class="login-help">
                     <a href="#">Registrarse</a> - <a href="#">Olvido su Contraseña</a> - <a (click)="loginAdmin()">Soy administrador</a>
                 </div>
            </div>
         </div>
        </div>
     </div>   
    </div>
</nav>