<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a class="active" routerLink="/tabla-graduados" routerLinkActive="active"><i class="fa fa-fw fa-graduation-cap"></i> Graduados</a>
        </li>
        <li>
            <a routerLink="/tabla-empresas" routerLinkActive="active"><i class="fa fa-fw fa-briefcase"></i> Empresas</a>
        </li>
        <li>
            <a routerLink="/tabla-vacantes" routerLinkActive="active"><i class="fa fa-fw fa-folder-open"></i> Vacantes</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-edit"></i> Postulaciones</a>
        </li>
    </ul>
</div>