<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Identificacion</th>
                <th>Tipo Identificacion</th>
                <th>Nombre</th>
                <th>Pagina web</th>
                <th>Telefono</th>
                <th>Estado</th>
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let empresa of empresas">
                <th>
                    {{empresa.identification}}
                </th>
                <th>
                    {{empresa.Identification_Type.name}}
                </th>
                <th>
                    {{empresa.name}}
                </th>
                <th>
                    {{empresa.website}}
                </th>
                <th>
                    {{empresa.phone}}
                </th>
                <th>
                    <div *ngIf="empresa.confirmed">
                         <span class="label label-success">Confirmada</span>
                    </div> 
                    <div *ngIf="!empresa.confirmed">
                         <button (click)="confirm(empresa)" type="button" class="btn btn-primary btn-sm">Confirmar</button>
                    </div>
                </th>

            </tr>

        </tbody>  

    </table>
</div>