<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
              <th>Identificacion</th>
              <th>Primer nombre</th>
              <th>Segundo nombre</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Genero</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let graduado of graduados">
              <th>
                  {{graduado.identification}}
              </th>
              <th>
                  {{graduado.first_name}}
              </th>
              <th>
                  {{graduado.last_name}}
              </th>
              <th>
                  {{graduado.telefono}}
              </th>
              <th>
                  {{graduado.email}}
              </th>
              <th>
                  {{graduado.genero}}
              </th>
          </tr>
      </tbody>
  </table>
</div>